@import 'tailwindcss';

* {
  /* border: 1px solid red; */
}

@theme {
  --default-font-family: Consolas, monospace, 'sans serif';
  --color-body-gradient-t: #f7fcf0;
  --color-body-gradient-b: #eaebf4;
  --color-list-bg: #f9f9f9;
  --color-custom-grey: #e6e6e6;
  --color-darker-grey: #757575;
  --color-green-highlight: #e3f4d7;
}

@layer base {
  em {
    @apply font-bold;
  }

  footer {
    & a {
      @apply text-blue-500 underline;
    }
  }
}

@font-face {
  font-family: Consolas;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('fonts/Consolas.woff2') format('woff2'),
    url('fonts/Consolas.woff') format('woff');
}

@font-face {
  font-family: Consolas;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('fonts/Consolas-Bold.woff2') format('woff2'),
    url('fonts/Consolas-Bold.woff') format('woff');
}

@font-face {
  font-family: Consolas;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('fonts/Consolas-Italic.woff2') format('woff2'),
    url('fonts/Consolas-Italic.woff') format('woff');
}

@font-face {
  font-family: Consolas;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('fonts/Consolas-BoldItalic.woff2') format('woff2'),
    url('fonts/Consolas-BoldItalic.woff') format('woff');
}
