:root {
  --red-border: 1px solid red;
  --text-font: Consolas, monospace, 'sans serif';
  --text-size: 0.75rem;
  --tooltip-text: 0.7rem;
  --bg-white: #fff;
}

.daily-commits svg,
.monthly-commits svg {
  border: var(--red-border);
}

text {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

.daily-commits {
  position: relative;

  & svg {
    display: block;
    background-color: var(--bg-white);

    &.days-placement {
      position: absolute;
      left: 0;
    }
  }

  & div.contributions {
    overflow: auto;
  }
}

.monthly-commits {
  & svg {
    display: block;
    background-color: var(--bg-white);
  }
}

.TooltipContent {
  border: 1px solid #9f9f9f;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  background-color: #ececec;
  font-family: var(--text-font);
  font-size: var(--tooltip-text);
}
